{:deps
 {org.clojure/clojure {:mvn/version "RELEASE"}
  org.apache.kafka/kafka-streams {:mvn/version "3.1.0"}}

 :paths
 ["src" "resources" "test"]

 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {org.apache.kafka/kafka-streams-test-utils {:mvn/version "3.1.0"}
                      lambdaisland/kaocha {:mvn/version "1.60.977"}}}}}
